* {
    margin: 0;
    padding: 0;

}

body{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}
h1{
    font-size: 30px;
    margin-bottom: 12px;
}

.banner{

    background-image: url(images/banner.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    text-align: center;
    background-size: cover;
}

.banner_continer{

    padding-top: 120px;
}

.banner_button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
.banner_button:hover{
    background-color: aqua;
    color: white;
}

.donation {
    text-align: center;
    margin-top: 5%;
}
.donate-ammount{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.ammount{
    background-color: azure;
    padding: 15px;
    margin-right: 10px;
    color: blue;
    border: 2px #8b4cf7 solid;
    cursor: pointer;
}
.active{

    background-color: #8b4cf7;
    color: white;
}
#input-ammount{
    width: 40%;
    border: none;
    border-bottom: 1px #8b4cf7 solid;
}
.ammount-buttom{
    color: white;
    background-color: #8b4cf7;
    border: 2px white solid;
    padding: 12px;
    border-radius: 5px;
}
.donation-plan{
    text-align: center;
    margin-top: 5%;
}


footer{
    padding: 30px;
    margin-top: 30px;
    background-color: black;
    color: white;
    text-align: center;
}
.flux-continer{
    display: flex;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.plan{
    border: 2px #8b4cf7 solid;
    margin-right: 15px;
    padding: 15px;
    background-color: azure;
    height: 220px;
}
.galary{
    text-align: center;
    margin: 0px auto;
    margin-bottom: 5%;
}
.galary-row{
    display: flex;
}
.galary-row img{
    width: 30%;
    padding: 5px;
    margin: 5px;
}